@import './colors';

.Container {
    width: 100%;
}

.FormInputButton {
    background-color: $tertiary;
    border-radius: 10px;
    height: 45px;
    border: 0;
    color: $primary;
}

.Delete {
    background-color: $primary;
    color: $secondary;
}

.Delete:hover {
    color: $primary;
}

.FormInputButton:hover {
    cursor: pointer;
    background-color: $secondary;
}

.FormInputButton:focus {
    outline: 0;
}