@import '../styles/colors';

.NavbarContainer {
    background-color: $primary;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.Title {
    color: aliceblue;
    font-size: 36px;
    padding: 15px;
}

.NavbarItemsContainer {
    display: flex;
    flex-direction: row;
}

.NavbarItem {
    color: aliceblue;
    padding: 15px;
}

.Link {
    text-decoration: none;
    font-size: 22px;
    color: $light;
}

.Link:hover {
    color: $secondary;
}

@media (max-width: 600px) {
    .NavbarContainer {
        border-radius: 0;
        width: 100vw;
    }
}